<%- include('../../partials/head') %>


<div class="container signupJumbo">
  <h1 class="display-1 text-center text-danger">404 not found this page</h1>
</div>


<%- include('../../partials/footer') %> 

</body>
</html>