<%- include('../../partials/head') %>


<div class="container signupJumbo">
  <h1 class="display-1 text-center text-danger">Internal server Error</h1>
</div>


<%- include('../../partials/footer') %> 

</body>
</html>