<%- include('../../partials/head') %>
<%- include('../../partials/alerts') %> 
    <div class="container signupJumbo">
      <div class="display-1 text-center">This is your dashboard!</div>
    </div>



<%- include('../../partials/footer') %> 

</body>
</html>